* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 10%;
}

a {
  text-decoration: none;
  color: #24252a;
  transition: color 0.3s ease 0s;
  margin: 0 60px;
}

a:hover {
  color: #a68582;
  text-decoration: underline #a68582;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.nav-div {
  flex: 1;
  text-align: center;
  padding: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

.main-container {
  width: 100%;
  background-image: url("dating-assets/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}

.gender-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 20px;
}

.side-buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#kvinner-btn {
  border-color: #a68582;
  border-width: 4px;
}

#kvinner-btn:hover {
  background: #a68582;
  color: white;
}

#menn-btn {
  border-color: #5f535c;
  border-width: 4px;
}
#menn-btn:hover {
  background: #5f535c;
  color: white;
}

#begge-btn:hover {
  background: transparent;
  color: white;
  border-color: white;
  border-width: 4px;
}

.dating-card {
  width: 600px;
  height: 700px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dating-card img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.matched-cards {
  flex-basis: 100%;
  margin-left: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px 20px 20px 10px;
  width: 150px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 40px;
  grid-auto-rows: minmax(200px, auto);
  overflow-y: auto;
}
.image-grid img {
  width: 100%;
  max-width: 170px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.matched-name,
.matched-location {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}
