/* Universal styling */

* {
  border: 0;
  padding: 0;
  margin: 0;
}
main {
  height: 120vh;
  display: flex;
}
nav {
  display: flex;
}
a {
  width: 100vw;
  text-decoration: none;
  color: black;
}
/* nav bar styling */
.nav-div {
  height: 50px;
  width: 100%;
  text-align: center;
  align-items: center;
}
.dating {
  background-color: pink;
}
.nav-div:hover {
  opacity: 90%;
}
.dog-care {
  background-color: green;
}

/* main styling */

/* chat box styling */
.chat-box {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 15px;
  border: 2px solid black;
  width: 275px;
  height: 50vh;
  background-color: #044f48;
  opacity: 97%;
  font-family: Arial, sans-serif;
}

.chat-box h1 {
  font-size: 0.7rem;
  color: rgb(232, 232, 232);
}
.chat-box h2 {
  font-size: 0.6rem;
  color: rgb(190, 190, 190);
}
.chat-box p {
  font-size: 0.6rem;
}
.chat-name {
  position: relative;
  background-color: rgb(35, 73, 43);
  border-radius: 15px 15px 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.owner-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  text-align: left;
}
/* Her må jeg fikse img sizing. Så det ikke strekkes... */
.img-div {
  display: flex;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid rgb(10, 59, 13);
  margin: 5px;
  overflow: hidden;
}
#close-button {
  margin: 5px;
  height: 25px;
  width: 25px;
}
#close-button:hover {
  cursor: pointer;
  opacity: 80%;
}
.chat-messages {
  background-color: rgb(46, 94, 56);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.messages {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}

.chat-text-section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(35, 73, 43);
  padding: 5px;
  border-radius: 0 0 15px 15px;
}
.chat-text-input {
  background: none;
  color: white;
  outline: none;
  padding-left: 10px;
}
.chat-send-button{
  color: white;
  border: none;
  background: #248A52;
  font-size: 0.7rem;
  padding: 3px 6px;
  border-radius: 10px;
}

/* footer styling */

.test-img {
  width: 100px;
}
