/* Universal styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #24252a;
  transition: color 0.3s ease 0s;
  margin: 0 60px;
}

a:hover {
  color: #a68582;
  text-decoration: underline #a68582;
}
body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-image: url("dogcare-assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* nav bar styling */
nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 10%;
}
.nav-div {
  flex: 1;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.dog-care-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.random-breeds {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url("dating-assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* cards styling */
#dog-care-cards {
  display: grid;
  grid: auto/ 500px 500px;
  place-content: center;
  gap: 50px;
  margin: 100px auto;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(3, auto);
  place-content: center;
  gap: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 40px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.071);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.6px);
  border: 1px solid rgb(255, 255, 255);
  font-size: 1rem;
}

/*https://getcssscan.com/css-buttons-examples*/
.btn {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
}
.btn:after {
  background-color: #f5e0e0;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(4px, 4px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn:hover:after {
  transform: translate(0, 0);
}

.btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn:hover {
  outline: 0;
}
.btn::first-letter{
  text-transform: capitalize;
}


#show-new-cards-btn {
  position: sticky;
  top: 100px;
  left: 20px;
}
#open-breeds-menu {
  position: sticky;
  top: 100px;
  float: right;
  right: 20px;
}
.dog-greeting-bubble {
  position: absolute;
  top: -10%;
  left: 75%;
  width: 30%;
  height: 15%;
  background: rgba(255, 255, 255);
  border-radius: 8px 8px 8px 0;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.dog-icon {
  margin-right: 10px;
}

.dog-icon img {
  width: 30px;
  height: 30px;
}

/* chat box styling */
.chat-box {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255);
  width: 275px;
  height: 50vh;
  opacity: 97%;
  
}
/* Øvre del av boks */
.chat-box h1 {
  font-size: 0.9rem;
  color: rgb(232, 232, 232);
}
.chat-box h2 {
  font-size: 0.7em;
  color: rgb(190, 190, 190);
}
.chat-box p {
  font-size: 0.6rem;
}
.chat-name {
  position: relative;
  background-color: #204152;
  border-radius: 15px 15px 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.owner-info {
  position: sticky;
  top: 20%;
  left: 15%;
  text-align: left;
}
/* Her må jeg fikse img sizing. Så det ikke strekkes... */
.img-div {
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid rgb(10, 59, 13);
  margin: 5px;
  overflow: hidden;
}
#close-button {
  margin: 8px;
  height: 20px;
  width: 20px;
}
#close-button:hover {
  cursor: pointer;
  opacity: 80%;
}
/* Middten av boksen */
.delete-icon{
  position: relative;
  top: -13px;
  right: 16px;
  font-size: 12px;
}
.delete-icon:hover {
  cursor: pointer;
}
.chat-messages {
  background-color: #cfd9de;
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
}
.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  max-width: 80%;
  font-size: 0.7rem;
}
.sent {
  background-color: #83959f;
  color: white;
  float: right;
  font-size: 0.8rem;
  margin: 8px;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 0 10px;
}
.received {
  background-color: #082C3F;
  color: rgb(216, 216, 216);
  float: left;
  font-size: 0.8rem;
  margin: 8px;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0px;
}
/* Bunnen av boksen */
.chat-text-section {
  display: flex;
  justify-content: space-between;
  background-color: #204152;
  padding: 5px;
  border-radius: 0 0 15px 15px;
}
.chat-text-input {
  background: none;
  color: white;
  outline: none;
  padding-left: 10px;
  border: none;
  font-size: 0.8rem;
}
.chat-text-input::placeholder{
  color: lightgray;
}
.chat-send-button {
  color: white;
  border: none;
  background: #248a52;
  font-size: 0.8rem;
  padding: 3px 6px;
  border-radius: 10px;
}
.chat-send-button:hover {
  cursor: pointer;
}
/* footer styling */
